In [1]:
import numpy as np

In [2]:
#creating a list
list_1 = list(range(1,11))
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
### numpy array conversion

In [4]:
first_array = np.array(list_1)

In [5]:
first_array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [9]:
## iterable

In [10]:
for i in first_array:
    print(i)
type(i)

1
2
3
4
5
6
7
8
9
10

numpy.int32

In [11]:
type(first_array)

numpy.ndarray

In [12]:
print(first_array)

[ 1  2  3  4  5  6  7  8  9 10]

In [15]:
#numpy array convert all element into same dataType

In [16]:
list_2 = [1,2.4,True,'Cat']

In [17]:
for i in list_2:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [18]:
second_array = np.array(list_2)

In [19]:
for i in second_array:
    print(type(i))

<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>

In [20]:
#####

In [21]:
third_array = np.array([1,2,3])

In [22]:
type(third_array)

numpy.ndarray

In [23]:
third_array.dtype

dtype('int32')

In [25]:
forth_array = np.array([1,2.2,3])

In [26]:
forth_array.dtype

dtype('float64')

In [27]:
# unlike List numpy.array only contains one datatype. either Int, or float or string