In [1]:
import numpy as np

In [11]:
first_array =np.random.randint(1,101,10)

In [12]:
first_array

array([35, 55,  9, 91, 93, 84, 40, 86, 72, 33])

In [13]:
###

In [16]:
np.random.seed(234) #permanent random digit
second_array = np.random.randint(1,101,10)

In [17]:
second_array

array([73, 32, 69, 58, 96, 34,  4, 55, 64, 68])

In [18]:
second_array

array([73, 32, 69, 58, 96, 34,  4, 55, 64, 68])

In [19]:
#Normal distribution

In [21]:
np.random.normal(5,2,10) #mean,std,10 digit

array([4.09793242, 6.78748127, 4.48792659, 5.80380736, 6.52585244,
       4.82370061, 6.8834752 , 6.50752908, 6.39756038, 4.07014136])

In [22]:
###

In [23]:
third_array = np.arange(1,101)

In [24]:
third_array

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [25]:
#shuffle

In [26]:
np.random.shuffle(third_array)

In [27]:
third_array

array([ 84,  21,  69,   8,  97,  42,  41,  14,  67,  22,  51,   4,  40,
        15,  36,  78,  47,  33,  35,  82,  34,  45,  55,  93,  60,  20,
        73,  54,  19,  62,  71,  27,  53,  96,  44,  58,  99,  37,  87,
        50,  86,  76,  88,  57,  46,  63,  89,   7,  31,  94,  85,  70,
        98,  39,  29,  10,  49,   6,  64,  18,   2,  12,  13,  43,  30,
        83,  68,  65,  66,  16,  38,  91,  48,  90,  75,  23,  61,  52,
        77,  95,  25,  80,  92,   5,  81,  28,  72,  26,   3,   9,  59,
        17,  32, 100,  11,   1,  79,  24,  56,  74])

In [29]:
#sort

In [30]:
third_array.sort()

In [31]:
third_array

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [32]:
#reverse order

In [33]:
third_array[::-1]

array([100,  99,  98,  97,  96,  95,  94,  93,  92,  91,  90,  89,  88,
        87,  86,  85,  84,  83,  82,  81,  80,  79,  78,  77,  76,  75,
        74,  73,  72,  71,  70,  69,  68,  67,  66,  65,  64,  63,  62,
        61,  60,  59,  58,  57,  56,  55,  54,  53,  52,  51,  50,  49,
        48,  47,  46,  45,  44,  43,  42,  41,  40,  39,  38,  37,  36,
        35,  34,  33,  32,  31,  30,  29,  28,  27,  26,  25,  24,  23,
        22,  21,  20,  19,  18,  17,  16,  15,  14,  13,  12,  11,  10,
         9,   8,   7,   6,   5,   4,   3,   2,   1])

In [34]:
#random choice

In [36]:
np.random.seed(123)
forth_array = np.random.choice(third_array,100,replace=True)

In [37]:
forth_array

array([ 67,  93,  99,  18,  84,  58,  87,  98,  97,  48,  74,  33,  47,
        97,  26,  84,  79,  37,  97,  81,  69,  50,  56,  68,   3,  85,
        40,  67,  85,  48,  62,  49,   8, 100,  93,  53,  98,  86,  95,
        28,  35,  98,  77,  41,   4,  70,  65,  76,  35,  59,  11,  23,
        78,  19,  16,  28,  31,  53,  71,  27,  81,   7,  15,  76,  55,
        72,   2,  44,  59,  56,  26,  51,  85,  57,  50,  13,  19,  82,
         2,  52,  45,  49,  57,  92,  50,  87,   4,  68,  12,  22,  90,
        99,   4,  12,   4,  95,   7,  10,  88,  15])

In [38]:
forth_array.sort()

In [39]:
forth_array

array([  2,   2,   3,   4,   4,   4,   4,   7,   7,   8,  10,  11,  12,
        12,  13,  15,  15,  16,  18,  19,  19,  22,  23,  26,  26,  27,
        28,  28,  31,  33,  35,  35,  37,  40,  41,  44,  45,  47,  48,
        48,  49,  49,  50,  50,  50,  51,  52,  53,  53,  55,  56,  56,
        57,  57,  58,  59,  59,  62,  65,  67,  67,  68,  68,  69,  70,
        71,  72,  74,  76,  76,  77,  78,  79,  81,  81,  82,  84,  84,
        85,  85,  85,  86,  87,  87,  88,  90,  92,  93,  93,  95,  95,
        97,  97,  97,  98,  98,  98,  99,  99, 100])

In [40]:
#unique values

In [41]:
np.unique(forth_array)

array([  2,   3,   4,   7,   8,  10,  11,  12,  13,  15,  16,  18,  19,
        22,  23,  26,  27,  28,  31,  33,  35,  37,  40,  41,  44,  45,
        47,  48,  49,  50,  51,  52,  53,  55,  56,  57,  58,  59,  62,
        65,  67,  68,  69,  70,  71,  72,  74,  76,  77,  78,  79,  81,
        82,  84,  85,  86,  87,  88,  90,  92,  93,  95,  97,  98,  99,
       100])

In [43]:
np.array(list(set(forth_array))) #unique values

array([  2,   3,   4,   7,   8,  10,  11,  12,  13,  15,  16,  18,  19,
        22,  23,  26,  27,  28,  31,  33,  35,  37,  40,  41,  44,  45,
        47,  48,  49,  50,  51,  52,  53,  55,  56,  57,  58,  59,  62,
        65,  67,  68,  69,  70,  71,  72,  74,  76,  77,  78,  79,  81,
        82,  84,  85,  86,  87,  88,  90,  92,  93,  95,  97,  98,  99,
       100])

In [44]:
np.unique(forth_array).size

66

In [45]:
np.unique(forth_array,return_index=True,return_counts=True)

(array([  2,   3,   4,   7,   8,  10,  11,  12,  13,  15,  16,  18,  19,
         22,  23,  26,  27,  28,  31,  33,  35,  37,  40,  41,  44,  45,
         47,  48,  49,  50,  51,  52,  53,  55,  56,  57,  58,  59,  62,
         65,  67,  68,  69,  70,  71,  72,  74,  76,  77,  78,  79,  81,
         82,  84,  85,  86,  87,  88,  90,  92,  93,  95,  97,  98,  99,
        100]),
 array([ 0,  2,  3,  7,  9, 10, 11, 12, 14, 15, 17, 18, 19, 21, 22, 23, 25,
        26, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 45, 46, 47, 49,
        50, 52, 54, 55, 57, 58, 59, 61, 63, 64, 65, 66, 67, 68, 70, 71, 72,
        73, 75, 76, 78, 81, 82, 84, 85, 86, 87, 89, 91, 94, 97, 99],
       dtype=int64),
 array([2, 1, 4, 2, 1, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 2, 1,
        1, 1, 1, 1, 1, 2, 2, 3, 1, 1, 2, 1, 2, 2, 1, 2, 1, 1, 2, 2, 1, 1,
        1, 1, 1, 2, 1, 1, 1, 2, 1, 2, 3, 1, 2, 1, 1, 1, 2, 2, 3, 3, 2, 1],
       dtype=int64))